@tailwind base;
@tailwind components;
@tailwind utilities;



*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,300&display=swap');



:root {
    
  
    --shadow-navbar-: 0px 2px 10px rgba(0, 0, 0, 0.2);
  
    
}

@layer base {
    html {
        font-family: 'Noto Sans Arabic', 'Noto Sans', sans-serif;
    }
}

@layer components {
    .navFirstLeftSection {
        @apply flex flex-row  items-center gap-2
    }
    .navFirstLeftSectionJuistifyCenter {
        @apply flex flex-row  items-center  justify-center
    }

    .globalRowFlex {
        @apply  flex flex-row justify-between items-center
    }
    .globalRowFlexGap{
        @apply flex flex-row items-center
    }
}